.body_element {
    align-items: center;
    justify-content: center;
    color: dark-grey;
    z-index: 0
}

h1 {
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	margin-bottom: 20%;
}

h2 {
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	margin-bottom: 10%;
}

.buttonContainer button{
	background-color: #770578;;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 6px;
    border-left-width: thin;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}

.buttonContainer button:hover {
	background-color:#770550;
}

* {
    box-sizing: border-box;
}

