.body_element {
    align-items: center;
    justify-content: center;
    color: dark-grey;
    z-index: 0
}

h1 {
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	margin-bottom: 20%;
}

h2 {
    margin : 15px;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	margin-bottom: 10%;
}

.objective { 
    justify-content: center;
}

.challenge{
    text-align: center;
    width : 100%;
    margin : 10px;
    display: inline-block;

}

.challenge p {
    font-size : 12px;  
    text-align: center;
}

* {
    box-sizing: border-box;
  }


  @media only screen and (min-width: 1000px) {
      .challenge {
          width : 30%;
      }
  }


